<phpunit bootstrap="module/TogglJira/src/Bootstrap.php" backupGlobals="false">
    <testsuites>
        <testsuite name="TogglJira unit test suite">
            <directory>module/TogglJira/test/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">module/TogglJira/src/*</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
